/*$color1: #000000;
$color2: #120d26;
$color3: #231a4c;
$color4: #4d4d4d;
$color5: #666666;
$extra_purp: ##38248A;
*/


@font-face {
    font-family: Spaceport_2006;
    src: url('../font/Spaceport_2006.otf');
}

body {
	background-color: #231a4c;
}

textarea:focus, input:focus{
    outline: none;
    resize: none;
}

h1 {
	color: #666666;
	font-family: Spaceport_2006;
	text-align: center;
	font-size: 80px;
	top: -10px;
}

h2 {
	color: #666666;
	font-family: Spaceport_2006;
	text-align: center;
	font-size: 30px;
	top: -10px;
}

p {
    color: #666666;
	font-family: Spaceport_2006;
	font-size: 20px;
	text-align: center;
}

a {
	color: #666666;
	font-family: Spaceport_2006;
	font-size: 20px;
	text-align: center;
}

a:hover {
    color: white;
}

#loading {
    position: absolute; width: 100%; height: 100%; background: url('/static/images/loading.gif') no-repeat center center;
}

#settings {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* File Uploads */
.inputfile {
	width: 240px;
	height: 50px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    margin-top: 10px;
    font-size: 1.25em;
    color: white;
    padding: 10px;
    font-family: Spaceport_2006;
    display: inline-block;
    border: 2px solid #4d4d4d; border-top-right-radius: 15px; border-bottom-right-radius: 15px;
    width: 260px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #4d4d4d;
}

.file_upload_path {
    margin-top: 10px;
    width: 400px;
    height: 38px;
    border: 2px solid #4d4d4d;
    border-right: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 0.75em;
    background: #231a4c;
    font-family: Spaceport_2006;
    color: white;
}


/* Encryption */

#encryption {
    margin-top: 10px;
}

#encryption table {
    width: 100%;
}

.encryption_pass {
    background: #231a4c;
    width: 250px;
    height: 38px;
    border: 2px solid #4d4d4d; border-radius: 15px;
    font-size: 1em;
    font-family: Spaceport_2006;
    color: white;
    display: none;
    padding-left: 10px;
}

#encryption_pass_label {
    font-size: 1.25em;
    font-family: Spaceport_2006;
    color: white;
    display: none;
    margin-right: 10px;
}

/* File Fields */
.file_details {
    margin-left: 7%;
    margin-top: 10px;
    background: rgba(102, 102, 102, .35);
    color: white;
    font-family: Spaceport_2006;
    font-size: .75em;
    border: 0px;
    resize: none;
}


/* toggles */
#toggles table {
    width: 100%;
}

#file_details_checkbox_label {
    font-family: Spaceport_2006;
    color: white;
    font-size: 1.25em;
    text-align: right;
    margin-right: 5px;
}

/* checkbox */
input[type=checkbox] {
	visibility: hidden;
}

.checkbox_details {
	width: 40px;
	height: 40px;
	background: #666666;
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	margin-right: 10px;
}

.checkbox_details label {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;

	background: #4d4d4d;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.checkbox_details input[type=checkbox]:checked + label {
	background: #26ca28;
}
/* mode switch */
.onoffswitch {
    position: relative; width: 250px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #4d4d4d; border-radius: 15px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 46px; padding: 0; line-height: 46px;
    font-size: 20px; color: white;
    font-family: Spaceport_2006;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Extract";
    padding-left: 15px;
    background-color: #231A4C; color: white;
}
.onoffswitch-inner:after {
    content: "Hide";
    padding-right: 15px;
    background-color: #231A4C; color: white;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 33px; margin: 6.5px;
    background: #666666;
    position: absolute; top: 0; bottom: 0;
    right: 200px;
    border: 2px solid #999999; border-radius: 15px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/* Submit */

#submit_div table {
    width: 100%;
}

#submit_button {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Spaceport_2006;
  color: white;
  font-size: 1.25em;
  background: #231a4c;
  padding: 10px 20px 10px 20px;
  border: solid #4d4d4d 2px;
  text-decoration: none;
}

#submit_button:hover:not([disabled]) {
  background: #1e9c20; /* turn to #26ca28 when ready */
  text-decoration: none;
}





/* File download page */

#successful_file {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}