<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
</head>
<body>
    <h1>Program Error</h1>
    <a href="/"> Back.</a>
</body>
</html>