<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/stegosys.js') }}"></script>
    <title>File Processed Successfully</title>
</head>
<body>
<div id="title">
    <h1> Stegosys </h1>
</div>
<div id="successful_file">
    {% if downloadfilename %}
    <h2>File Processed Successfully!</h2>
    <p> File Generated: {{ downloadfilename }}</p>
    <center>
        <table>
            <tr>
                <a href="/created/{{ downloadfilename }}" id="downloadbutton" target="blank" download></a>
                <td><form action="filedownload" method="get"><input id="submit_button" type=submit value="Try Again"></form></td>
            </tr>
        </table>
        <br />
        <p style="color:red; font-size: 12px;"> Note: File download will begin momentarily. Files are deleted from local cache once you leave this page.</p>
    </center>
    {% endif %}
</div>
</body>
<script> window.onload = function() {
    setTimeout(downloadFileAuto(),3000);
};
</script>
</html>