<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/easydropdown.flat.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/stegosys.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easydropdown.js') }}"></script>
</head>
<body>
<div id="loading"></div>
<div id="mainApp">
    <div id="title">
        <h1> Stegosys </h1>
    </div>
    <div id="settings">
        <form action="upload" method="post" enctype="multipart/form-data">
        <div id="toggles">
            <table>
                <tr>
                    <td>
                        <div id="mode_select">
                            <div class="onoffswitch">
                                <input type="checkbox" name="mode_switch" class="onoffswitch-checkbox" id="myonoffswitch">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                            <input id="H_E" type="hidden" name="H_E" value="Hide">
                        </div></td>
                    <td style="text-align: right; margin-right: 5px; margin-top: 5px;"><label id="file_details_checkbox_label">Display File Details</label></td>
                    <td style="float: left; text-align: left; margin-right: 20px; margin-top: 5px;">
                        <div class="checkbox_details">
                            <input type="checkbox" value="1" id="checkbox_file_details" name=""/>
                            <label for="checkbox_file_details"></label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="file_upload">
                <div id="host_file">
                    <div style="overflow: hidden; float: left;">
                        <input class="file_upload_path" id="host_file_label" type="text" disabled/>
                    </div>
                    <input type="file" name="Hfile" id="host_file_input" class="inputfile" style="float: right;"/>
                    <label for="host_file_input">Choose Host File</label>
                </div>
                <script type="text/javascript"> displayHostFile(); </script>
                <textarea class="file_details" id="host_details" style="display: none;" rows="6" cols="60"> No file selected</textarea>
                <div id="tgt_file">
                    <div style="overflow: hidden; float: left;">
                        <input class="file_upload_path" id="tgt_file_label" type="text" disabled/>
                    </div>
                    <input type="file" name="Tfile" id="tgt_file_input" class="inputfile" style="float: right;"/>
                    <label for="tgt_file_input">Choose File to Hide</label>
                </div>
                <script type="text/javascript"> displayTargetFile(); </script>
                <textarea class="file_details" id="tgt_details" style="display: none;" rows="6" cols="60" disabled> </textarea>
                <script type="text/javascript"> hideTargetInputField();</script>
        </div>
        <div id="encryption">
            <table>
                <tr>
                    <td><select name="isEncrypt" id="enc_mode" class="dropdown" >
                        <option value="None" selected>None</option>
                        <option value="ARC4">ARC4</option>
                        <option value="AES">AES</option>
                    </select></td>
                    <td style="text-align: right;"><label for="encryption_pass_input" id="encryption_pass_label">Encryption Key</label></td>
                    <td><input name="EncryptionKey" class="encryption_pass" id="encryption_pass_input" type="password" /></td>
                </tr>
            </table>
            <script type="text/javascript"> hideEncryptionPass();</script>
        </div>
        <div id="submit_div">
            <table><tr><td></td><td></td>
            <td style="text-align: right;"><input id="submit_button" type=submit value="Execute"></td>
            </tr></table>
        </div>
        </form>
    </div>
    <script type="text/javascript">displayFileDetails();</script>
    <script type="text/javascript">LoadingGif();</script>
    <script type="text/javascript">isReadyToSubmit();</script>
    </div>
</body>
</html>
